body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100%;
    height: 62px;
    background: #083644;
}

.menu {
    max-width: 600px;
    display: block;
    margin: auto;
    padding: 0 20px;
}

.btn-back {
    text-decoration: none;
    background: transparent;
    border: none;
    margin-top: 18px;
}

.btn-back-icon{
    display: inline;
    margin-right: 8px;
    margin-bottom: 3px;
}

.btn-back-text {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.btn-heart, .btn-folder {
    margin-top: 20px;
    padding: 0;
}

.btn-heart:hover, .btn-folder:hover {
    cursor: pointer;
}

.btn-folder {
    margin-left: 20px;
}

.content {
    max-width: 600px;
    font-family: Plus Jakarta Sans, Verdana, Geneva, Tahoma, sans-serif;
    color:#083644;
    padding: 20px 20px;
    display: block;
    margin: auto;
}

.input-artist/*, .select-genre, .select-decade*/{
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 14px;
    color: #6C7072;
    background: #FFFFFF;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.select-genre, .select-decade, .select-country {
    color: #6C7072;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    margin-bottom: 14px;
}

.button-search {
    background-color: #083644;
    border: none;
    width: 100%;
    height: 44px;
    color: white;
    margin-bottom: 20px;
}

/* .button-search:hover, .button-search:active, .button-search:focus{
    background-color: #083644 !important;
    border: none;
    color: white;
} */

.album-card {
    margin-bottom: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #0A2530;
}

.image-album {
    width: 100%;
    margin-bottom: 10px;
}

.album-card h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
}

.album-card ul{
    padding: 0;
    list-style: none;
}

.album-card li{
    margin-bottom: 2px;
}

/* .album-card ul li::marker{
    color: red;
} */